---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import About from '@components/About.astro';
import Complexities from '@components/Complexities.astro';
import Manifesto from '@components/Manifesto.astro';
import Plans from '@components/Plans.astro';
import Contact from '@components/Contact.astro';
import BackToTop from '@components/ui/BackToTop.astro';

const lang = 'es' as const;
---

<Layout
  lang={lang}
  title="Kukai Solutions | Software para Pequeñas Empresas"
  description="Soluciones de software para pequeñas empresas y sus complejidades únicas."
>
  <main>
    <Hero lang={lang} />
    <About lang={lang} />
    <Complexities lang={lang} />
    <Manifesto lang={lang} />
    <Plans lang={lang} />
    <Contact lang={lang} />
  </main>
  <BackToTop />
</Layout>
